
#banner{
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulop {
    padding-left: 20px;
}

.tituloc {
    text-align: center;
}

p {
    text-align: center;
   }
#santiago {
    font-size: 20;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 15%;
}

.imgb {
    width: 50%;

}